<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="form-control"
          />
          <span
            *ngIf="
              !projectForm.get('name').valid && projectForm.get('name').touched
            "
            class="help-block"
          >
            <span
              *ngIf="
                projectForm.get('name').errors &&
                projectForm.get('name').errors['nameIsForbidden']
              "
              >This name is invalid!</span
            >
            <span
              *ngIf="
                projectForm.get('name').errors &&
                projectForm.get('name').errors['required']
              "
              >This name is invalid!</span
            >
          </span>
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control"
          />
          <label for="status">Status</label>
          <select
            formControlName="status"
            id="status"
            class="form-control"
            [ngModel]="defaultStatus"
          >
            <option value="stable">Stable</option>
            <option value="critical">Critical</option>
            <option value="finished">Finished</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
    <div
      *ngIf="submitted"
      class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"
    >
      <h3>Your Data</h3>
      <p>Name: {{ project.name }}</p>
      <p>Email: {{ project.email }}</p>
      <p>Status: {{ project.status }}</p>
    </div>
  </div>
</div>
