<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            ngModel
            required
            email
            #email="ngModel"
          />
          <span class="help-block" *ngIf="!email.valid && email.touched"
            >Please enter a valid email!</span
          >
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            ngModel
            required
          />
          <label for="sub">Subscription</label>
          <select
            name="sub"
            id="sub"
            class="form-control"
            [ngModel]="defaultQuestion"
            required
          >
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
          Submit
        </button>
      </form>
    </div>
    <hr />
    <div
      *ngIf="submitted"
      class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"
    >
      <h3>Your Data</h3>
      <p>Email: {{ user.email }}</p>
      <p>Password: {{ user.password }}</p>
      <p>Subscription {{ user.subscription }}</p>
    </div>
  </div>
</div>
